@model mvc00.Models.Person


<table>
    <tr>
        <td>
            @Html.DisplayNameFor(d=>Model.ID)
            @Html.DisplayFor(d => Model.ID)

        </td>
        <td>
            @Html.DisplayNameFor(d => Model.JID)
            @Html.DisplayFor(d => Model.JID)
        </td>
        <td>
            @Html.DisplayNameFor(d => Model.Name)
            @Html.DisplayFor(d => Model.Name)
        </td>
        <td>
            @Html.DisplayNameFor(d => Model.Specification)
            @Html.DisplayFor(d => Model.Specification)
        </td>
    </tr>

</table>