@model IEnumerable<mvccoreappgithub.Models.Person>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>



    @foreach (mvccoreappgithub.Models.Person p in Model)
    {
        @Html.Partial("_PartialIndex", p)
        @*@Html.ActionLink("EditIndex", MVC.Home.EditIndex(p.ID, p.JID))*@
        <b>||</b>
            @Html.ActionLink("EditIndex", "EditIndex", routeValues: new { ID = p.ID, JID = p.JID });
        <b>||</b>
            @Html.ActionLink("EditIndex1", "EditIndex1", routeValues: new { ID = p.ID, JID = p.JID });
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            @Html.ActionLink("DeleteIndex", "DeleteIndex", p)
    }


    <br />
    <br />

    @Html.ActionLink("InsertIndex", "InsertIndex")
    <b>||</b>
    @Html.ActionLink("InsertIndex1", "InsertIndex1")
    <hr />
    @Html.ActionLink("AdministratorIndex", "Index1", "Home1", routeValues: new { Area = "Administrator", ID = 666, JID = 667 }, htmlAttributes: null)
    @*@Html.ActionLink("AdministratorIndex", MVC.Administrator.Home1.Index1())*@

    <div>






    </div>
</body>
</html>